{% extends "evil_role.html" %}
{% block other_content %}
<p>You have to play Fail cards if you are on a mission.</p>
<h3>Ability: Betrayal</h3>
<p>If you have been on a mission that succeeded,
you may formally reveal yourself as Agravaine and cause the mission to fail.</p>
<ul>
    <li>
        This is relevant if:
        <ul>
            <li>
                The mission requires two Fails
            </li>
            <li>
                A Reversal card was played
            </li>
            <li>
                Strong inquisition was used
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
