{% extends "evil_role.html" %}
{% block other_content %}
<p>If Percival is in the game, they see you as Merlin.</p>
<h3>Ability: Sorceress</h3>
<p>Whenver you have a proposal that is not Hammer,
you may declare yourself as Morgana, 
choose the next mission proposer,
and reverse the mission proposal order for the rest of the game.
Using this ability counts as one of the proposals for this round.<br/>
Any player that already had a proposal this round (including yourself) is skipped, 
so that no player can propose two teams on the same round.</p>
{% endblock %}
