{% extends "role.html" %}
{% block content %}
<p>
Your goal is to hunt down The Questing Beast before it drives you insane.<br/>
At the start of the game, you may only vote Success.
If two "The Questing Beast Was Here" cards were played, 
you become enraged and may only vote Fail.
</p>
<ul>
    <li>You start the game paranoid, with 0 sanity points.
        You win if either 
        a) no "The Questing Beast Was Here" cards were played 
        or b) you become sane, with at least 2 sanity points 
        at the end of the game.
        <ul>
            <li>
                Every time you see "The Questing Beast Was Here" card
                you lose 1 sanity point;
            </li>
            <li>
                The first time you go on a mission with The Questing Beast,
                you gain 1 sanity point
                (cancelling out with the previous effect);
            </li>
            <li>
                If there are 3 failed missions,
                you gain 2 sanity points;
            </li>
            <li>
                If you correctly identify The Questing Beast at the end of the game
                you gain 3 sanity points. 
                You should attempt this before the Assassination phase,
                and you will be told if you are correct after Assassination.
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
